<div>
  <div class="postBox">
    <div class="postTitle"><h3>{{post.title}}</h3><h9>Posted by
        {{post.user.username}}
        on
        {{format_date post.createdAt}}</h9></div>
    <div><p>{{post.body}}</p></div>
  </div>
</div>
{{#each comments as |comment|}}
  <div class="postBox">
    <div><p>{{comment.body}}</p></div>
    <div><p>-{{comment.user_name}}, {{format_date comment.createdAt}}</p></div>
  </div>
{{/each}}

<div id="form">
  <h1>Add Comment</h1>
  <form action="/api/posts/createNewComment/{{post.id}}" method="post">
    <h3>Comment</h3>
    <input class="inputBox" id="contentBox" name="body" type="text" />
    <input type="submit" />
  </form>
</div>